
.icon-blind:before { content: '\e800'; } /* '' */
.icon-blinds:before { content: '\e801'; } /* '' */
.icon-bookshelf:before { content: '\e802'; } /* '' */
.icon-view:before { content: '\e803'; } /* '' */
.icon-clock:before { content: '\e804'; } /* '' */
.icon-cradle:before { content: '\e805'; } /* '' */
.icon-cushions:before { content: '\e806'; } /* '' */
.icon-dinning-table:before { content: '\e807'; } /* '' */
.icon-drawers:before { content: '\e808'; } /* '' */
.icon-lamp:before { content: '\e809'; } /* '' */
.icon-sofa-1:before { content: '\e80a'; } /* '' */
.icon-stairs-1:before { content: '\e80b'; } /* '' */
.icon-vase-1:before { content: '\e80c'; } /* '' */
.icon-bathtub:before { content: '\e80d'; } /* '' */
.icon-bed-1:before { content: '\e80e'; } /* '' */
.icon-curtains:before { content: '\e80f'; } /* '' */
.icon-desk:before { content: '\e810'; } /* '' */
.icon-kitchen:before { content: '\e811'; } /* '' */
.icon-fireplace:before { content: '\e812'; } /* '' */
.icon-lamp-1:before { content: '\e813'; } /* '' */
.icon-shelf:before { content: '\e814'; } /* '' */
.icon-sofa:before { content: '\e815'; } /* '' */
.icon-stairs:before { content: '\e816'; } /* '' */
.icon-table:before { content: '\e817'; } /* '' */
.icon-vase:before { content: '\e818'; } /* '' */
.icon-wall:before { content: '\e819'; } /* '' */
.icon-wardrobe:before { content: '\e81a'; } /* '' */
.icon-armchair:before { content: '\e81b'; } /* '' */
.icon-bathtub-1:before { content: '\e81c'; } /* '' */
.icon-bed:before { content: '\e81d'; } /* '' */
.icon-bed2:before { content: '\e81e'; } /* '' */
.icon-chest-of-drawers:before { content: '\e81f'; } /* '' */
.icon-closet:before { content: '\e820'; } /* '' */
.icon-payment:before { content: '\e821'; } /* '' */
.icon-quality:before { content: '\e822'; } /* '' */
.icon-support:before { content: '\e823'; } /* '' */
.icon-delivery:before { content: '\e824'; } /* '' */
.icon-discount:before { content: '\e825'; } /* '' */
.icon-guarantee:before { content: '\e826'; } /* '' */
.icon-placeholder:before { content: '\e827'; } /* '' */
.icon-right:before { content: '\e828'; } /* '' */
.icon-mirror:before { content: '\e829'; } /* '' */
.icon-share:before { content: '\e82a'; } /* '' */
.icon-shopping-bag:before { content: '\e82b'; } /* '' */
.icon-square:before { content: '\e82c'; } /* '' */
.icon-avatar:before { content: '\e82d'; } /* '' */
.icon-chat:before { content: '\e82e'; } /* '' */
.icon-credit-card:before { content: '\e82f'; } /* '' */
.icon-heart:before { content: '\e830'; } /* '' */
.icon-location:before { content: '\e831'; } /* '' */
.icon-magnifying-glass:before { content: '\e832'; } /* '' */
.icon-mail:before { content: '\e833'; } /* '' */
.icon-paper-plane:before { content: '\e834'; } /* '' */
.icon-phone-call:before { content: '\e835'; } /* '' */
.icon-clock-1:before { content: '\e836'; } /* '' */
.icon-quote:before { content: '\e837'; } /* '' */
.icon-quote-2:before { content: '\e838'; } /* '' */
.icon-glasses:before { content: '\e839'; } /* '' */
.icon-focus:before { content: '\e83a'; } /* '' */
.icon-right-arrow02:before { content: '\e83b'; } /* '' */
.icon-comment:before { content: '\e83c'; } /* '' */
.icon-visibility:before { content: '\e83d'; } /* '' */
.icon-wall-clock:before { content: '\e83e'; } /* '' */
.icon-layers:before { content: '\e83f'; } /* '' */
.icon-responsive:before { content: '\e840'; } /* '' */
.icon-settings:before { content: '\e841'; } /* '' */
.icon-favorites:before { content: '\e842'; } /* '' */
.icon-gear:before { content: '\e843'; } /* '' */
.icon-parallax:before { content: '\e845'; } /* '' */
.icon-seo:before { content: '\e846'; } /* '' */
.icon-document:before { content: '\e848'; } /* '' */
.icon-exchange:before { content: '\e849'; } /* '' */
.icon-homepages:before { content: '\e84b'; } /* '' */
.icon-cabinet:before { content: '\e84c'; } /* '' */
.icon-sketch:before { content: '\e84d'; } /* '' */
.icon-under-construction:before { content: '\e84e'; } /* '' */
.icon-text:before { content: '\e84f'; } /* '' */
.icon-coding:before { content: '\e850'; } /* '' */